<ol> 
  <% points.each do |point| %>
      <% if point.respond_to?(:animation_class) %>
        <li<%= point.animation_class %>><%= point %></li>
      <% else %>
        <%= point %>
      <% end %>
  <% end %>
</ol>
