require 'slide_hero'

SlideHero::Presentation.new('<%= @name %>') do
  slide "Presentations made easy!" do
    point "Make presentations at the speed of thought"
    point "Make ideas pop", animation: "grow"
    list do
      point "All kinds of awesome here"
    end
  end
end
